.addrhelper-getpoint {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
}
.addrhelper-getpoint .addrhelper-getpoint-map {
  width: 70%;
}
.addrhelper-getpoint .addrhelper-getpoint-map #addrhelper-map-container {
  height: 100%;
  width: 100%;
}
.addrhelper-getpoint .addrhelper-getpoint-map .addrhelper-getpoint-search {
  display: flex;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 300px;
  height: 36px;
  border: 1px solid #F3F3F3;
  box-sizing: border-box;
  border-radius: 5px;
  line-height: 36px;
  background-color: #FFFFFF;
  z-index: 9999;
}
.addrhelper-getpoint .addrhelper-getpoint-map .addrhelper-getpoint-search:hover {
  border: 1px solid #CCCCCC;
}
.addrhelper-getpoint .addrhelper-getpoint-map .addrhelper-getpoint-search input {
  width: 100%;
  flex: 1;
  padding-left: 8px;
  border: none;
  outline: none;
  border-radius: 5px;
}
.addrhelper-getpoint .addrhelper-getpoint-map .addrhelper-getpoint-tips {
  position: absolute;
  z-index: 9999;
  background-color: #484847;
  color: #FFFFFF;
  padding: 5px;
  border-radius: 3px;
  font-size: 12px;
}
.addrhelper-getpoint .addrhelper-getpoint-map .addrhelper-search-suggestion {
  width: 300px;
  max-height: 300px;
  overflow-y: auto;
  box-sizing: border-box;
  position: absolute;
  top: 56px;
  left: 20px;
  background-color: #FFFFFF;
  z-index: 9999;
}
.addrhelper-getpoint .addrhelper-getpoint-map .addrhelper-search-suggestion::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #F5F5F5;
}
.addrhelper-getpoint .addrhelper-getpoint-map .addrhelper-search-suggestion::-webkit-scrollbar-thumb {
  background-color: #DDDEE0;
  background-clip: padding-box;
  border-radius: 3px;
}
.addrhelper-getpoint .addrhelper-getpoint-map .addrhelper-search-suggestion .addrhelper-search-show-btn {
  height: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.addrhelper-getpoint .addrhelper-getpoint-map .addrhelper-search-suggestion .addrhelper-search-show-btn img {
  height: 23px;
  width: 23px;
  transform: rotate(90deg);
}
.addrhelper-getpoint .addrhelper-getpoint-map .addrhelper-search-suggestion .addrhelper-search-show-btn span {
  opacity: 0.8;
  font-size: 14px;
  color: #1B202C;
  font-weight: 400;
}
.addrhelper-getpoint .addrhelper-getpoint-map .addrhelper-search-suggestion .addrhelper-search-list .addrhelper-search-address {
  box-sizing: border-box;
  padding: 0 15px;
}
.addrhelper-getpoint .addrhelper-getpoint-map .addrhelper-search-suggestion .addrhelper-search-list .addrhelper-search-address:hover {
  background-color: #F5F9FF;
  cursor: pointer;
}
.addrhelper-getpoint .addrhelper-getpoint-map .addrhelper-search-suggestion .addrhelper-search-list .addrhelper-search-address .border {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 10px 0;
  border-bottom: 1px solid rgba(27, 32, 44, 0.05);
}
.addrhelper-getpoint .addrhelper-getpoint-map .addrhelper-search-suggestion .addrhelper-search-list .addrhelper-search-address .border .index {
  height: 24px;
  width: 24px;
  background: rgba(0, 98, 255, 0.08);
  margin-right: 8px;
  font-size: 12px;
  color: #0062FF;
  text-align: center;
  line-height: 24px;
  font-weight: 400;
  border-radius: 50%;
}
.addrhelper-getpoint .addrhelper-getpoint-map .addrhelper-search-suggestion .addrhelper-search-list .addrhelper-search-address .border .info {
  width: calc(100% - 32px);
}
.addrhelper-getpoint .addrhelper-getpoint-map .addrhelper-search-suggestion .addrhelper-search-list .addrhelper-search-address .border .info .title {
  font-size: 14px;
  color: #1b202c;
  line-height: 22px;
  font-weight: 600;
  margin-bottom: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.addrhelper-getpoint .addrhelper-getpoint-map .addrhelper-search-suggestion .addrhelper-search-list .addrhelper-search-address .border .info .address {
  font-size: 12px;
  color: #535B6E;
  line-height: 18px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.addrhelper-getpoint .addrhelper-getpoint-map .addrhelper-search-suggestion .addrhelper-search-list .addrhelper-search-address-active {
  background-color: #EBF3FF;
}
.addrhelper-getpoint .addrhelper-getpoint-map .addrhelper-search-suggestion .addrhelper-search-list .addrhelper-search-address-active .border .index {
  background-color: #0062FF;
  color: #FFFFFF;
}
.addrhelper-getpoint .addrhelper-getpoint-map .addrhelper-search-suggestion .addrhelper-search-list .addrhelper-search-address-active .border .info .title,
.addrhelper-getpoint .addrhelper-getpoint-map .addrhelper-search-suggestion .addrhelper-search-list .addrhelper-search-address-active .border .info .address {
  color: #0062FF;
}
.addrhelper-getpoint .addrhelper-getpoint-info {
  width: 30%;
  background-color: #FFFFFF;
  padding: 25px 20px;
  box-sizing: border-box;
}
.addrhelper-getpoint .addrhelper-getpoint-info .title {
  font-size: 16px;
  color: #1b202c;
  letter-spacing: 0;
  line-height: 24px;
  font-weight: 600;
  min-height: 24px;
}
.addrhelper-getpoint .addrhelper-getpoint-info .item {
  margin-top: 20px;
}
.addrhelper-getpoint .addrhelper-getpoint-info .label {
  margin-bottom: 4px;
  font-size: 14px;
  color: #1b202c;
  letter-spacing: 0;
  line-height: 22px;
  font-weight: 600;
}
.addrhelper-getpoint .addrhelper-getpoint-info .input {
  padding: 0 40px 0 8px;
  min-height: 34px;
  line-height: 34px;
  background: rgba(27, 32, 44, 0.03);
  border: 1px solid #ced2d9;
  border-radius: 4px;
  font-size: 14px;
  color: #1b202c;
  font-weight: 400;
}
